<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>Welcome to Dutch Treat</header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>Copyright 2019 Dutch Treat LLC</footer>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>